{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "utils": "./src/utils",
                    "server": "./src/server",
                    "db": "./src/dal",
                    "logger": "./src/utils/logger",
                    "handlerDelegator" : "./src/server/modules/handlerDelegator" ,
                    "Bitstamp" : "./src/server/thirdParty/bitstamp/Bitstamp",
                    "TickerStream" : "./src/server/thirdParty/bitstamp/streams/TickerStream",
                    "status" : "./src/utils/status",
                    "eventQueue" : "./src/utils/eventQueue",
                    "notifications" : "./src/utils/notifications"
                    
                }
            }
        ]
    ]
}